img {
  float: right;
  margin-right: 10px;
}
.list{
  font-family: Arial, Helvetica, sans-serif;
}

.me {
  border: 4px solid black;
  padding: 5px;
  margin: 10px;
  text-align: center;
  background-image: url(https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcQkYtL-_cVqtWhHkCGve4tt3NS2jbxRgyfahzp3arEFQBp8l_oGPQ);
  color: #27a530;

}

.list {
  float: left;
  font-size: 20px;
}

body {
  background-color: #9de8a3;
  background-image: url();
  background-size: cover;
}
footer{
  font-weight: bolder;
}
